@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root { /* Root de Cores e Fonts */
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque:'Bebas Neue', 'cursive';
    --fonte-idroid:'idroid', 'cursive';
}

body {
    background-color: var(--cor0);
}

/*---------------HEADER--------------*/
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
}

/*---------------NAV--------------*/
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.349);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    transition-duration: .4s;
}

/*---------------MAIN--------------*/
main {
    background-color: white;
    min-width: 300px;
    max-width: 850px;
    margin: auto auto 30px auto;
    padding: 20px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > article > picture > img {
    width: 100%;
}

main > article > .small-pic /*Bugdroid*/ {
    max-width: 400px;
    min-width: 150px;
    margin: auto;
    display: block;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/*---------------ASIDE--------------*/
aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.411);
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

aside > h3 {
    background-color: var(--cor5);
    padding: 7px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

/*---------------FOOTER--------------*/
footer {
    background-color: var(--cor5);
    color: white;
}